Repository hairyhenderson/wnp-bridge, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, build

Update renovate.json
  renovate.json
Labels: none

Adding metrics and tracing
  go.mod
  go.sum
  logger.go
  main.go
  metrics.go
  mock-wnp/main.go
  tracing.go
  wnp_client.go
Labels: dependencies

Add .dockerignore
  .dockerignore
Labels: none

Avoid slow unmarshal
  wnp_client.go
Labels: none

Update golang Docker tag to v1.13.5
  Dockerfile
Labels: build

Update golang Docker tag to v1.13.5
  Dockerfile
Labels: build

Update golang.org/x/crypto commit hash to e9b2fee
  go.mod
  go.sum
Labels: dependencies

Support jaeger config from env
  main.go
Labels: none

Update alpine Docker tag to v3.11.0
  Dockerfile
Labels: build

Update alpine Docker tag to v3.11.0
  Dockerfile
Labels: build

Update module prometheus/client_golang to v1.3.0
  go.mod
  go.sum
Labels: dependencies

Update module prometheus/client_golang to v1.3.0
  go.mod
  go.sum
Labels: dependencies

Update module uber/jaeger-client-go to v2.21.1
  go.mod
  go.sum
Labels: dependencies

Update module uber/jaeger-client-go to v2.21.1
  go.mod
  go.sum
Labels: dependencies

Update golang.org/x/crypto commit hash to becbf70
  go.mod
  go.sum
Labels: dependencies

Update alpine Docker tag to v3.11.2
  Dockerfile
Labels: build

Update alpine Docker tag to v3.11.2
  Dockerfile
Labels: build

Update golang Docker tag to v1.13.6
  Dockerfile
Labels: build

Update golang Docker tag to v1.13.6
  Dockerfile
Labels: build

Update module pkg/errors to v0.9.0
  go.mod
  go.sum
Labels: dependencies

Update module pkg/errors to v0.9.0
  go.mod
  go.sum
Labels: dependencies

Update module pkg/errors to v0.9.1
  go.mod
  go.sum
Labels: dependencies

Update module pkg/errors to v0.9.1
  go.mod
  go.sum
Labels: dependencies

Update module uber/jaeger-client-go to v2.22.1
  go.mod
  go.sum
Labels: dependencies

Update module uber/jaeger-client-go to v2.22.1
  go.mod
  go.sum
Labels: dependencies

Update alpine Docker tag to v3.11.3
  Dockerfile
Labels: build

Update alpine Docker tag to v3.11.3
  Dockerfile
Labels: build

Update golang Docker tag to v1.13.7
  Dockerfile
Labels: build

Update golang Docker tag to v1.13.7
  Dockerfile
Labels: build

Update module prometheus/client_golang to v1.4.0
  go.mod
  go.sum
Labels: dependencies

Update module prometheus/client_golang to v1.4.0
  go.mod
  go.sum
Labels: dependencies

Update module prometheus/client_golang to v1.4.1
  go.mod
  go.sum
Labels: dependencies

Update module prometheus/client_golang to v1.4.1
  go.mod
  go.sum
Labels: dependencies

Update golang Docker tag to v1.13.8
  Dockerfile
Labels: build

Update golang Docker tag to v1.13.8
  Dockerfile
Labels: build

Update module hashicorp/mdns to v1.0.3
  go.mod
  go.sum
Labels: dependencies

Update module hashicorp/mdns to v1.0.3
  go.mod
  go.sum
Labels: dependencies

Update module rs/zerolog to v1.18.0
  go.mod
  go.sum
Labels: dependencies

Update module rs/zerolog to v1.18.0
  go.mod
  go.sum
Labels: dependencies

Update golang.org/x/crypto commit hash to 0f24fbd
  go.mod
  go.sum
Labels: dependencies

.github/labeler.yml:

dependencies:
- go.mod
- go.sum

build:
- .github/workflows/*
- Makefile
- Dockerfile
