Repository hairyhenderson/wnp-bridge, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, build

Update module brutella/hc to v1.2.1
  go.mod
  go.sum
Labels: dependencies

Update golang.org/x/crypto commit hash to 2aa609c
  go.mod
  go.sum
Labels: dependencies

fixup! Bump github.com/brutella/hc from 1.2.0 to 1.2.1
  go.mod
  go.sum
  main.go
Labels: dependencies

Update workflow to use container
  .github/workflows/build.yml
Labels: build

Update docker workflow too
  .github/workflows/docker.yml
Labels: build

Updates...
  Dockerfile
  go.mod
  go.sum
  renovate.json
Labels: dependencies, build

Lint fixes, removing dead code
  go.mod
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies

Alpine 3.12
  Dockerfile
Labels: build

Switch from OpenTracing to OpenTelemetry/HoneyComb
  Makefile
  go.mod
  go.sum
  logger.go
  main.go
  mock-wnp/main.go
  tracing.go
  wnp_client.go
Labels: dependencies, build

Handle nil response, and other bugfixes
  Dockerfile
  go.mod
  go.sum
  logger.go
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies, build

Support HONEYCOMB_API_KEY env var
  main.go
Labels: none

Cached builds
  .dockerignore
  Dockerfile
Labels: build

Use OTLP
  go.mod
  go.sum
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies

Debug logging
  main.go
Labels: none

udpates
  Makefile
  go.mod
  go.sum
  main.go
  metrics.go
  tracing.go
Labels: dependencies, build

OTel 0.12
  go.mod
  go.sum
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies

OTel 0.13
  go.mod
  go.sum
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies

Some updates
  Dockerfile
  go.mod
  go.sum
  main.go
  wnp_client.go
Labels: dependencies, build

Support binding to defined ip:port
  main.go
Labels: none

Update to opentelemetry-go v0.15.0
  go.mod
  go.sum
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies

update go.mod
  go.mod
  go.sum
Labels: dependencies

Update OTel to v0.16
  .dockerignore
  Makefile
  go.mod
  go.sum
  main.go
Labels: dependencies, build

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: build

update go.sum
  go.sum
Labels: dependencies

Fix bad help string
  main.go
Labels: none

Update syntax frontend
  Dockerfile
Labels: build

Bump to OTel 0.17
  go.mod
  go.sum
Labels: dependencies

Add linting
  .github/workflows/build.yml
  .gitignore
  .golangci.yml
  Makefile
Labels: build

Fix linting
  .golangci.yml
  go.mod
  logger.go
  main.go
  metrics.go
  mock-wnp/main.go
  wnp_client.go
Labels: dependencies

Bump OTel 0.18, Go 1.16
  .golangci.yml
  go.mod
  go.sum
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies

Updating deps
  go.mod
  go.sum
  tracing.go
Labels: dependencies

Update .github/dependabot.yml
  .github/dependabot.yml
Labels: none

bump for otel-0.20
  go.mod
  go.sum
  main.go
  tracing.go
Labels: dependencies

Update label.yml
  .github/workflows/label.yml
Labels: build

enable fieldalignment linter
  .golangci.yml
  main.go
Labels: none

update dependabot config
  .github/dependabot.yml
Labels: none

deps
  go.mod
  go.sum
Labels: dependencies

Don't use the localhost name
  main.go
Labels: none

Lint updates
  .golangci.yml
  metrics.go
Labels: none

Update Dockerfile
  Dockerfile
Labels: build

.github/labeler.yml:

dependencies:
- go.mod
- go.sum

build:
- .github/workflows/*
- Makefile
- Dockerfile
