Repository hairyhenderson/wnp-bridge, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, build

.github/labeler.yml:

dependencies:
- go.mod
- go.sum

build:
- .github/workflows/*
- Makefile
- Dockerfile

switch to github.com/brutella/hap
  go.mod
  go.sum
  main.go
Labels: dependencies

switch to github.com/brutella/hap (#183)
  go.mod
  go.sum
  main.go
Labels: dependencies

use 3.15 instead of 3.15.1
  Dockerfile
Labels: build

Update Dockerfile
  Dockerfile
Labels: build

Update Dockerfile
  Dockerfile
Labels: build

Update Dockerfile
  Dockerfile
Labels: build

Fix lint errors
  wnp_client.go
Labels: none

Bump deps
  Dockerfile
  go.mod
  go.sum
  main.go
  tracing.go
  wnp_client.go
Labels: dependencies, build

updates
  .golangci.yml
  go.mod
  go.sum
  main.go
  mock-wnp/main.go
Labels: dependencies

bump deps
  go.mod
  go.sum
Labels: dependencies

fixes
  go.mod
  go.sum
  logger.go
  main.go
  tracing.go
Labels: dependencies

updates
  go.mod
  go.sum
Labels: dependencies

update otel
  go.mod
  go.sum
Labels: dependencies

update build
  .github/workflows/build.yml
  .gitignore
  Makefile
Labels: build

bump otel deps
  go.mod
  go.sum
Labels: dependencies

Update OTel to 1.16.0
  go.mod
  go.sum
Labels: dependencies

drop depguard
  .golangci.yml
Labels: none

updates
  .github/workflows/docker.yml
  .golangci.yml
  go.mod
  go.sum
Labels: dependencies, build

updates
  go.mod
  go.sum
Labels: dependencies

Update dependencies
  Dockerfile
  go.mod
  go.sum
Labels: dependencies, build

update the rest of the things
  go.mod
  go.sum
Labels: dependencies

upgrading the rest of otel too
  go.mod
  go.sum
Labels: dependencies

archive notice
  README.md
Labels: none

archive notice (#393)
  README.md
Labels: none
